<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <title> Fish-in' Vic <%= typeof tabTitle==='undefined' ? '' : tabTitle %>
    </title>
</head>

<body>
    <nav class="partial-nav">
        <% if (user) { %>
            <a href="/fish/new"> Add a fish</a>
            <form method="post" action="/logout">
                <input type="submit" value=<%=`Logout ${user.username}`%> />
            </form>
            <a href="/fish">Return to library </a>
            <% } else { %>
                <a href="/login">Login</a>
                <% } %>
                    <% if (typeof route !=='undefined' && route==='delete' ) { %>
                        <% } %> 
    </nav>