<p>
    <% catches.forEach((katch)=> { %>
        <%= katch.fish%>
        <br>
            <a><%= katch.author%></a>
            <br>
                <%= katch.imgURL%>
                    <% }) %>
</p>