<%- include('./partials/head.ejs')%>

    <div class="community-post">
        <% catches.forEach((katch)=> { %>
                <br>
                <a href = "/views/ src="<%= katch.imgURL%>" class="community-img">
                <br>
                <br>
                <a>
                    <%= katch.author%>: <%= katch.fish%>
                </a>
                <br>
                <% }) %>
    </div>