<%- include('./partials/head.ejs')%>

    <form method="post" action="/products/<%= fish._id %>?_method=PUT"
        enctype="multipart/form-data" class = "form">
        
        <label for="name">Name</label>

        <input type ="text" name="name" id="name" value="<%fish.name%>"/>

        <br>

        <label for ="img">Image</label> <input type="file" name="image" id="image"/>
       
        <br>

        <label for="locality">Locality</label>

        <input type="text" name="locality" id="locality"/>

        <br>

        <label for="bait">Bait</label>

        <input type="text" name="bait" id="bait"/>

        <br>

        <label for="minimumSize">Minimum size</label>
        <input type="minimumSize" name="minimum size" id="minimum size">

        <br>

        <label for="bagLimit">Bag limit</label>

        <input type="bagLimit" name="bag limit" id="bag limit">

        <br>

        <input type="submit" value="save fish" />
        
    </form>
