<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
  <title> Fish-in' Vic <%= typeof tabTitle==='undefined' ? '' : tabTitle %>
  </title>
</head>

<body>

  <h1 class="main-title">Welcome to Fishin' Victoria</h1>
  <div id="home-container">
    <% if (user) { %>
      <nav>
        <form method="post" action="/logout">
          <input type="submit" value="logout" />
        </form>
        <% } else { %>
          <p id="reg-home">Sign in to interact with the library and gain access to the community page. If you don't have
            an account already, sign up here.
            <a href="/register">Register</a>
          </p>
          <a href="/login" id="login-btn">Login</a>
      </nav>
      <% } %>
  </div>

  <div id="home-imgs">
    <img src="/images/pexels-photo-69224.jpeg" class="home-img">
  </div>


</body>