<%- include('./partials/head.ejs')%>
<%- include('./partials/flash.ejs')%>

    <h1>Add a new fish to the library</h1>

    <form method="post" action="/fish" enctype="multipart/form-data" class ="form">
 
    <label for="name">Name</label>

    <br />

    <input type ="text" name="name" id="name" required />

    <label for ="img">Image</label>

    <input type="file" name="img" id="img" required />

    <label for="locality">Locality</label>

    <input type="text" name="locality" id="locality" required />
    
    <label for="bait">Bait</label>

    <input type="text" name="bait" id="bait" required />

    <label for="minimumSize">Minimum size</label>

    <input type="minimumSize" name="minimumSize" id="minimum-size" required />

    <label for="bagLimit">Bag limit</label>

    <input type="bagLimit" name="bagLimit" id="bag-limit" required>

    <input type="submit" value="add fish" />
    
    </form>

</body>
</html>