<%- include('./partials/head.ejs')%>

<form method="post" action="/community" enctype="multipart/form-data" class="form">
 
    <label for="fish">Name</label>

    <input type ="text" name="fish" id="fish" required />

    <br>

    <label for ="img">Img</label>

    <input type="file" name="img" id="img" required />

    <br>

    <input type="submit" value="add fish" class="submit-btn"/>
    
    </form>