body {
    background-color: rgb(177, 215, 215);
    margin: 0 400px 0 400px;
}

#main-title {
    text-align: center;
}

.slide {
    max-width: 400px;
    max-height: 400px;
    margin: 300px 0 0 0;
}

.fish-images-index {
    max-width: 400px;
    max-height: 400px;
}

.fish-show {
    max-width: 400px;
    max-height: 400px;
}